.netrwhist
.#*
.*.swp
/weechat/.weechat/irc.conf
/weechat/.weechat/script/plugins.xml.gz
/nvim/.config/nvim/.cache/
/nvim/.config/nvim/cache_nvim
/nvim/.config/nvim/repos
/nvim/.config/nvim/state_nvim.vim
/nvim/.cache/dein/.cache
/nvim/.cache/dein/repos
/nvim/.cache/dein/cache_*
/nvim/.cache/dein/state_*
*.elc
vim/.vim/bundle
/qtile/.config/qtile/__pycache__
/vim/.vim/plugged
/vim/.config/nvim/bundle
vim/.vim/tmp
weechat/.weechat/urlserver_list.txt
*.pyc
.DS_Store
/doom/.config/doom/custom.el
apps/.config/gitui/*.old
/doom/.config/doom/env
