.netrwhist
.#*
.*.swp
/weechat/.weechat/irc.conf
/weechat/.weechat/script/plugins.xml.gz
/nvim/.config/nvim/.cache/
/nvim/.config/nvim/cache_nvim
/nvim/.config/nvim/repos
/nvim/.config/nvim/state_nvim.vim
/nvim/.cache/dein/.cache
/nvim/.cache/dein/repos
/nvim/.cache/dein/cache_*
/nvim/.cache/dein/state_*
*.elc
vim/.vim/bundle
/qtile/.config/qtile/__pycache__
