#!/bin/sh
# vim: ft=sh

# Start DBus if not running
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# GTK config
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

xrdb -load ~/.Xresources

[ -x $HOME/.config/wallpapers/set ] && $HOME/.config/wallpapers/set &

xsetroot -cursor_name left_ptr &
conky -c $HOME/.config/conky/conkyrc -d
gpg-agent &
[ -f "~/.xsession" ] && source ~/.xsession

export _JAVA_AWT_WM_NONREPARENTING=1
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel'

if [ "$(hostname)" == "meila" ]; then
	# pesky left-handed mouse
	for i in $(xinput --list | sed -n '/Razer Razer Naga 2014.*pointer/s/.*=\([0-9]\+\).*/\1/p')
	do
		xinput set-prop $i 'Device Accel Profile' -1
		xinput set-prop $i 'Device Accel Constant Deceleration' 2.5
		xinput set-prop $i 'Device Accel Velocity Scaling' 1.0

		xinput set-button-map $i 3 2 1 4 5 6 7 8 9
	done
fi

if [ "$(hostname)" == "lorenzo.mb" ]; then
	lxpolkit &
fi
