! ------------------------- !
! ----- ~/.Xresources ----- !
! ------------------------- !

! ----- import external settings ----- !
#include    ".config/Xresources/init"

! vim: set syntax=xdefaults sw=4 ts=4 :
